:root {
    --background: #000;
    --background-secondary: #333;
    --text: #fff;
    --text-accent: #ccc;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-size: 24px;
}

header {
    text-align: center;
}

h1 {
    color: var(--text-accent);
}

img {
    float: left;
    padding: 10px;
    width: clamp(250px, 33%, 1000px);
}

nav {
    background-color: var(--background-secondary);
    display: flex;
    justify-content: center;
    gap: 1em;
}

nav a {
    color: var(--text);
}

nav a:hover {
    color: var(--text-accent);
}